.content {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    gap: 1%;
}


.contentImages {
    width: 60%;
    order: 1;
    /*background-color: #000;*/
}

.contactItem {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #d5d8df;
    border-radius: 4px;
}


.contentContacts {
    display: flex;
    gap: 20px;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    overflow: hidden;
    align-items: start;
    justify-content: flex-start;
    width: 39%;
    order: 2;
    background-color: white;

    /*border: 1px solid #d5d8df;*/
    /*border-radius: 4px;*/

}


.contentDetails {
    margin: 20px 0;
    padding: 20px;
    width: 60%;
    background-color: white;
    order: 3;

    align-items: start;
    border: 1px solid #d5d8df;
    border-radius: 4px;
}



@media screen and (max-width: 600px){


    .content {
        margin: 10px;
    }
    .contentImages {
        width: 100%;
        order: 1;
    }

    .contentDetails {
        width: 100%;
        order: 2;
    }

    .contentContacts {
        width: 100%;
        order: 3;
    }


}





