.itemList:hover {
    cursor: pointer;
}

.itemList {
    margin: 10px;
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 600px) {
    .itemList {
        flex-direction: row;
        margin: 20px;
        border: 1px solid #d5d8df;
        border-radius: 4px;
    }



    .totalElements {
        margin-right: 20px;
    }
}


@media screen and (min-width: 600px) {
    .itemAvatar {
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .itemAvatar {
        width: 100%;
    }
}

.itemAvatar:hover {
    transform: scale(1.02);
}

.itemAvatar {
    height: 250px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
    flex-shrink: 0;
    transition: transform 450ms;
}

.itemDetails {
    padding-right: 20px;
    border-right: 1px solid #eee;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemDetails p {
    margin: 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.list {
    width: 100%;
    margin: 0;
    padding: 0;
    /*display: flex;*/
    list-style-type: none;
}

@media screen and (min-width: 950px) {
    .list{
        width: 70%;
    }
}

.body {

}